.estadisticas-container {
    padding: 16px;
    background-color: #ffffff;
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
  }
  
  .chart {
    margin: 16px auto;
    max-width: 800px;
  }
  
  .loading, .error {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
  }
  